@import "tailwindcss";

@font-face {
  font-family: "Felix Titling";
  src: url("./fonts/FelixTitlingMT.woff2") format("woff2"),
    url("./fonts/FelixTitlingMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("./fonts/TrebuchetMS.woff2") format("woff2"),
    url("./fonts/TrebuchetMS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Californian FB";
  src: url("./fonts/CalifornianFB-Reg.woff2") format("woff2"),
    url("./fonts/CalifornianFB-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.linkhover {
  @apply hover:bg-gradient-to-b hover:from-orange-200 hover:via-amber-700 hover:to-orange-300 rounded-md;
}

.linkactive {
  @apply active:bg-gradient-to-b active:from-orange-200 active:via-amber-800 active:to-orange-300 active:scale-95
  transition-transform duration-200 ease-in-out rounded-md;
}

.linkactive2 {
  @apply relative overflow-hidden before:pointer-events-none before:absolute before:top-1/2 before:left-1/2 before:w-0 before:h-0 before:bg-amber-200/10 before:rounded-full before:transform before:-translate-x-1/2 before:-translate-y-1/2 before:transition-all before:duration-500 hover:before:w-56 hover:before:h-56;
}

.linkhover2 {
  @apply relative overflow-hidden after:absolute after:top-0 after:left-[-75%] after:w-1/2 after:h-full after:bg-white/20 after:skew-x-[-20deg] after:transition-all after:duration-1000 hover:after:left-[125%];
}

.linkanimation {
  @apply relative overflow-hidden;
}

.linkanimation::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  animation: shimmer 5s infinite;
}

@layer utilities {
  @keyframes shimmer {
    0% {
      left: -50%;
    }
    100% {
      left: 125%;
    }
  }
}

@theme {
  --font-Title: "Felix Titling", sans-serif;
}

@theme {
  --font-Title2: "Trebuchet MS", sans-serif;
}

@theme {
  --font-Title3: "Californian FB", sans-serif;
}

select option {
  @apply bg-black/80;
}

.linkbuttonemerald {
  @apply bg-gradient-to-b from-emerald-400 via-emerald-700 to-emerald-500
  hover:bg-gradient-to-b hover:from-emerald-500 hover:via-emerald-800 hover:to-emerald-600
  active:bg-gradient-to-b active:from-emerald-500 active:via-emerald-800 active:to-emerald-600
  active:scale-95 transition-all;
}

.linkbuttonslate {
  @apply bg-gradient-to-b from-slate-400 via-slate-700 to-slate-500
  hover:bg-gradient-to-b hover:from-slate-500 hover:via-slate-800 hover:to-slate-600
  active:bg-gradient-to-b active:from-slate-500 active:via-slate-800 active:to-slate-600
  active:scale-95 transition-all;
}

.linkbuttonamber {
  @apply bg-gradient-to-b from-orange-200 via-amber-600 to-orange-300
  hover:bg-gradient-to-b hover:from-orange-200 hover:via-amber-700 hover:to-orange-300
  active:bg-gradient-to-b active:from-orange-200 active:via-amber-700 active:to-orange-300
  active:scale-95 transition-all;
}

.linkbuttondark {
  @apply bg-gradient-to-b from-black/40 via-black to-black/60
  hover:bg-gradient-to-b hover:from-black/30 hover:via-black/80 hover:to-black/50
  active:bg-gradient-to-b active:from-black/30 active:via-black/80 active:to-black/50
  active:scale-95 transition-all;
}

.linkbuttongray {
  @apply bg-gradient-to-b from-gray-400 via-gray-800 to-gray-500
  hover:bg-gradient-to-b hover:from-gray-500 hover:via-gray-800 hover:to-gray-600
  active:bg-gradient-to-b active:from-gray-500 active:via-gray-800 active:to-gray-600
  active:scale-95 transition-all;
}

.linkbuttonred {
  @apply bg-gradient-to-b from-red-400 via-red-800 to-red-500
  hover:bg-gradient-to-b hover:from-red-500 hover:via-red-800 hover:to-red-600
  active:bg-gradient-to-b active:from-red-500 active:via-red-800 active:to-red-600
  active:scale-95 transition-all cursor-pointer;
}

.linkbuttonsky {
  @apply bg-gradient-to-b from-sky-400 via-sky-800 to-sky-500
  hover:bg-gradient-to-b hover:from-sky-500 hover:via-sky-800 hover:to-sky-600
  active:bg-gradient-to-b active:from-sky-500 active:via-sky-800 active:to-sky-600
  active:scale-95 transition-all cursor-pointer;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #00000077;
    border-radius: 100vh;
    border: none;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff88;
  }
}